<!-- views/editProduct.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Product</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f9f9f9;
            margin: 0;
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        h1 {
            color: #3498db; /* Changed color to blue */
            text-transform: uppercase;
            font-size: 24px;
            margin-bottom: 20px;
        }

        form {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
            width: 100%;
            box-sizing: border-box;
            max-width: 600px;
            display: flex;
            flex-direction: column;
        }

        label {
            margin: 10px 0;
            color: #555;
        }

        input, textarea, select {
            padding: 10px;
            margin: 8px 0;
            border: 1px solid #ddd;
            border-radius: 4px;
            box-sizing: border-box;
        }

        #newImageSection {
            display: none;
            margin-top: 10px;
        }

        img {
            max-width: 50px;
            max-height: 50px;
            margin-bottom: -10px;
        }

        .checkbox-group {
            display: flex;
            align-items: center;
        }

        .checkbox-group label {
            margin: 0;
            margin-right: 10px;
        }

        button {
            background-color: #3498db; /* Changed button color to blue */
            color: #fff;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
            margin-top: 20px;
            transition: background-color 0.3s ease-in-out;
        }

        button:hover {
            background-color: #2980b9; /* Darker blue on hover */
        }

        a {
            color: #3498db; /* Changed link color to blue */
            text-decoration: none;
            display: block;
            margin-top: 15px;
            font-size: 14px;
            text-align: center;
        }
    </style>
</head>
<body>

<h1>Edit Product</h1>

<form id="editProductForm"  action="/updateproduct/ <%= product._id %>" method="post" enctype="multipart/form-data" novalidate>
    <label for="name">Product Name:</label>
    <input type="text" id="name" name="name" value="<%= product.name %>" required>
    <span class="error-message"  id="name-error"></span><br>

    
    <label for="description">Product Description:</label>
    <textarea id="description" name="description" required><%= product.description %></textarea>
    <span class="error-message" id="description-error"></span><br>
    
    <label for="price">Product Price:</label>
    <input type="number" id="price" name="price" value="<%= product.price %>" required min="0">
    <span class="error-message" id="price-error"></span><br>

    <label for="quantity">Product Quantity:</label>
    <input type="number" id="quantity" name="quantity" value="<%= product.quantity || 0 %>" required min="0">
    <span class="error-message" id="quantity-error"></span><br>

    <div class="checkbox-group">
        <label for="updateImage">Update Image:</label>
        <input type="checkbox" id="updateImage" name="updateImage">
        <span class="error-message" id="updateImage-error"></span><br>
    </div>
    <div class="checkbox-group">
        <label for="existingImage">Existing Image:</label>
        <% if (product.image && product.image.length > 0) { %>
            <% product.image.forEach((image, index) => { %>
                <div style="border: 1px solid rgb(11, 130, 88); margin-inline: 15px; background-color: #45a049;">
                    <img src="/uploads/<%=image %>" alt="<%= product.name %>">
                    <br>
                    <label><i class="fa fa-trash-o"></i>
                    </label>
                    <input type="checkbox" name="deleteExistingImage<%= index %>" value="<%= image %>">
                </div>
            <% }); %>
        <% } else { %>
            No image available
        <% } %>
    </div>

    <div id="newImageSection">
        <label for="newImage">Upload New Image:</label>
        <input type="file" id="newImage" name="image" multiple>
    </div>
    <label for="category">Product Category:</label>
    <select id="category" name="category" required>
        <span class="error-message" id="category"></span><br>
        <% categories.forEach(category => { %>
            <option value="<%= category.name %>" <% if (product.category && product.category._id && product.category._id.equals(category._id)) { %>selected<% } %>><%= category.name %></option>
        <% }); %>
    </select>
    
    

    <button type="submit">Update Product</button>
</form>
<a href="/productList">Back to Products</a>






<script>
    document.getElementById('updateImage').addEventListener('change', function () {
        var newImageSection = document.getElementById('newImageSection');
        newImageSection.style.display = this.checked ? 'block' : 'none';
    });
</script>

 <script>

document.addEventListener("DOMContentLoaded",function (){
    const editProductForm=document.getElementById("editProductForm")


    editProductForm.addEventListener('submit',function (evnet){
        event.preventDefault()
        validateForm()
    })
})
function validateForm() {
    const form = document.getElementById('editProductForm');
    const name = form.elements['name'].value.trim();
    const description = form.elements['description'].value.trim();
    const price = form.elements['price'].value.trim();
    const quantity = form.elements['quantity'].value.trim();
    const updateImageChecked = form.elements['updateImage'].checked; // Check if the checkbox is checked
    const images = form.elements['image'].files; // Use 'image' instead of 'updateImage' for file input
    const category = form.elements['category'].value;

    const errorMessages = document.querySelectorAll('.error-message');
    errorMessages.forEach(error => error.textContent = '');

    let isValid = true;

    if (name === '') {
        displayErrorMessage('Product Name is required', 'name-error');
        isValid = false;
    }

    if (description === '') {
        displayErrorMessage('Product Description is required', 'description-error');
        isValid = false;
    }

    if (price === '' || isNaN(price) || parseFloat(price) < 0) {
        displayErrorMessage('Please enter a valid positive price', 'price-error');
        isValid = false;
    }

    if (quantity === '' || isNaN(quantity) || parseFloat(quantity) < 0) {
        displayErrorMessage('Please enter a valid positive quantity', 'quantity-error');
        isValid = false;
    }

    if (updateImageChecked && (!images || images.length === 0)) { 
        displayErrorMessage('Product Image is required', 'updateImage-error');
        isValid = false;
    }

    if (category === '') {
        displayErrorMessage('Category is required', 'category-error');
        isValid = false;
    }

    if (isValid) {
        form.submit();
    }
}

  
function displayErrorMessage(message, elementId) {
        const errorSpan = document.getElementById(elementId);
        errorSpan.textContent = message;
        errorSpan.style.color = 'red';
    }

</script>
</body>
</html>
