<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>AdminDashBoared</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <!-- Libraries Stylesheet -->
    <link href="/userAssets/css/owl.carousel.min.css" rel="stylesheet">
    <link href="/userAssets/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
    <!-- Customized Bootstrap Stylesheet -->
    <link href="/userAssets/css/adminbootstrap.min.css" rel="stylesheet">
    <!-- Template Stylesheet -->
    <link href="/userAssets/css/adminDash.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>

<body>
    <div class="container-fluid position-relative bg-white p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->
        <!-- Sidebar Start -->
        <div class="sidebar p-4 bg-light">
            <nav class="navbar">
                <a href="index.html" class="navbar-brand mb-4">
                    <h3 class="text-primary"><i class="fa fa-hashtag me-2"></i>DASHMIN</h3>
                </a>
                <div class="d-flex align-items-center mb-4">
                    <div class="position-relative">
                        <img class="rounded-circle" src="/userAssets/img/download (1).jpeg" alt="" style="width: 40px; height: 40px;">
                        <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
                    </div>
                    <div class="ms-3">
                        <h6 class="mb-0">Nived</h6>
                        <span>Admin</span>
                    </div>
                </div>
                <div class="navbar-nav w-100">
                    <a href="/adminDash" class="nav-item nav-link"><i class="fas fa-chart-pie"></i>Dashboard</a>
                    <a href="productList" class="nav-item nav-link"><i class="fas fa-box"></i>Products</a>
                    <a href="/categoryList" class="nav-item nav-link"><i class="fas fa-list"></i>Category</a>
                    <a href="/userdetails" class="nav-item nav-link"><i class="fas fa-users"></i>User</a>
                    <a href="/orderMange" class="nav-item nav-link"><i class="fas fa-shopping-cart"></i>Orders</a>
                    <a href="/returnManagement" class="nav-item nav-link"><i class="fas fa-undo"></i>return</a>
                    <a href="/brandList" class="nav-item nav-link"><i class="fas fa-tag"></i>Brand</a>
                    <a href="/couponList" class="nav-item nav-link"><i class="fas fa-ticket-alt"></i>Coupon</a>
                    <a href="/productOffer" class="nav-item nav-link"><i class="fas fa-percent"></i>ProductOffer</a>
                    <a href="/categoryOffer" class="nav-item nav-link"><i class="fas fa-tags"></i>CategoryOffer</a>
                    <!-- <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="far fa-file-alt me-2"></i>Pages</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="signin.html" class="dropdown-item">Sign In</a>
                            <a href="signup.html" class="dropdown-item">Sign Up</a>
                            <a href="404.html" class="dropdown-item">404 Error</a>
                            <a href="blank.html" class="dropdown-item">Blank Page</a>
                        </div>
                    </div> -->
                </div>
            </nav>
        </div>
        <!-- Sidebar End -->
        <!-- Content Start -->
        <div class="content p-4">
            <!-- Navbar Start -->
            <!-- Navbar content goes here -->
            <!-- Navbar End -->
            <!-- Table Start -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="bg-light rounded p-4">
                            <h6 class="mb-4">User Management</h6>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% users.forEach(function(user, index) { %>                                            
                                            <tr>
                                                <td scope="row"><%= index + 1 %></td>
                                                <td><%= user.name %></td>
                                                <td><%= user.email %></td>
                                                <td>
                                                    <td>
                                                        <% if (user.status) { %>
                                                            Active
                                                        <% } else { %>
                                                            Inactive
                                                        <% } %>
                                                    </td>
                                                    
                                                </td>
                                                <td>
                                                   <!-- Block Form -->
                                        <form  id="blockForm-<%= user._id %>"  action="/blockAndUnblock"  method="post"  class="d-inline">
                                            <input type="hidden" name="userId" value="<%= user._id %>">
                                            <% if (user.status) { %>
                                                <button type="button" class="btn btn-success m-2"  onclick="confirmAction('<%= user._id %>','block')">Block</button>
                                            <% } else { %>
                                                <button type="button" class="btn btn-danger m-2"  onclick="confirmAction('<%= user._id %>','unblock')">Unblock</button>
                                                <% } %>
                                        </form>
                                        <!-- Unblock Form -->
                                        <!-- <form action="/unblock" method="post" class="d-inline">
                                            <input type="hidden" name="userId" value="<%= user._id %>">
                                            <button type="submit" class="btn btn-success m-2">Unblock</button>
                                        </form></button> -->
                                                </td>
                                            </tr>
                                        <% }); %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Content End -->
            <!-- Back to Top -->
        </div>
    </div>
    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="/userAssets/js/chart.min.js"></script>
    <script src="/userAssets/js/easing.min.js"></script>
    <script src="/userAssets/js/waypoints.min.js"></script>
    <script src="/userAssets/js/owl.carousel.min.js"></script>
    <script src="/userAssets/js/moment.min.js"></script>
    <script src="/userAssets/js/moment-timezone.min.js"></script>
    <script src="/userAssets/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Template Javascript -->
    <script src="userAssets/js/admindash.js"></script>



    <script>
        function confirmAction(userId, action) {
            let actionText = action === 'block' ? 'block' : 'unblock';
            Swal.fire({
                title: `Are you sure you want to ${actionText} this user?`,
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes',
                cancelButtonText: 'No'
            }).then((result) => {
                if (result.isConfirmed) {
                    document.getElementById(`blockForm-${userId}`).submit();
                }
            });
        }
    </script>


</body>

</html>
