<%-include('../layouts/user/header')%>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


<%-include('../layouts/user/navbar')%>

<style>
    body {
        background-color: #ecfdff;
        margin-top: 20px;
        font-size: 10px;
    }
    .ui-w-80 {
        width: 80px !important;
        height: auto;
    }
    .btn-default {
        border-color: rgba(24, 28, 33, 0.1);
        background: rgba(0, 0, 0, 0);
        color: #4E5155;
        background-color: #014122;
    }
    label.btn {
        margin-bottom: 0;
        font-size: 14px;
    }
    .btn {
        cursor: pointer;
    }
    .text-light {
        color: #0460bb !important;
    }
    .card {
        background-clip: padding-box;
        box-shadow: 0 1px 4px rgba(24, 28, 33, 0.012);
    }
    .row-bordered {
        overflow: hidden;
    }
    .account-settings-fileinput {
        position: absolute;
        visibility: hidden;
        width: 1px;
        height: 1px;
        opacity: 0;
    }
    .account-settings-links .list-group-item.active {
        font-weight: bold !important;
        font-size: 14px;

    }
    html:not(.dark-style) .account-settings-links .list-group-item.active {
        background: transparent !important;
    }
    .account-settings-multiselect~.select2-container {
        width: 100% !important;
    }
    .light-style .account-settings-links .list-group-item {
        padding: 0.85rem 1.5rem;
        border-color: rgba(24, 28, 33, 0.03) !important;
        font-size: 14px;

    }
    .light-style .account-settings-links .list-group-item.active {
        color: #4e5155 !important;
        font-size: 14px;

    }
    .material-style .account-settings-links .list-group-item {
        padding: 0.85rem 1.5rem;
        border-color: rgba(24, 28, 33, 0.03) !important;
    }
    .material-style .account-settings-links .list-group-item.active {
        color: #4e5155 !important;
    }
    .dark-style .account-settings-links .list-group-item {
        padding: 0.85rem 1.5rem;
        border-color: rgba(255, 255, 255, 0.03) !important;
    }
    .dark-style .account-settings-links .list-group-item.active {
        color: #fff !important;
    }
    .light-style .account-settings-links .list-group-item.active {
        color: #4E5155 !important;
    }
    .address-container {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        margin-right: 15px;
        margin-left: 10px;
        position: relative;
        margin-bottom: 20px;
        overflow: hidden;
        font-size: 10px
    }
    .address-heading {
        font-weight: bold;
        margin-bottom: 10px;
        font-size: 8px;
    }
    .address-buttons {
        position: absolute;
        top: 5px;
        right: 5px;
    }
    .address-buttons button {
        margin-left: 5px;
        cursor: pointer;
    }
    /* .referralcodecolor {
        font-weight: bold;
        width: 80px;
        height: 30px;
        padding-left: 7px;
        background-color: #bababa;
        border-radius: 2px;
    } */
</style>


</head>
<body>
<div class="container light-style flex-grow-1 container-p-y" style="margin-top: 98px;">
    <div class="card overflow-hidden">
        <div class="row no-gutters row-bordered row-border-light">
            <div class="col-md-3 pt-0">
                <div class="list-group list-group-flush account-settings-links">
                    <a class="list-group-item list-group-item-action active" data-toggle="list" href="#account-general">Account Details</a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" href="#account-change-password">Change password</a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" href="#" id="referral-link">Referral code</a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" href="#account-info">Address</a>
                    <a class="list-group-item list-group-item-action" href="orderHistory">My Orders</a>
                    <a class="list-group-item list-group-item-action" href="/coupon">Coupons</a>
                    <a class="list-group-item list-group-item-action" href="/walletHistory">Wallet History</a>
                    <a class="list-group-item list-group-item-action" href="/logout">Logout</a>
                </div>
            </div>
            <div class="col-md-9">
                <div class="tab-content">
                    <div class="tab-pane fade active show" id="account-general">
                        <div class="card-body media align-items-center">
                            <img src="/assets/homeimg/user-person-profile-block-account-circle.svg" alt class="d-block ui-w-80">
                        </div>
                        <hr class="border-light m-0">
                        <div class="card-body">
                            <div class="form-group">
                                <label class="form-label">Name</label>
                                <input type="text" class="form-control" id="user-name" value=<%=user.name%>>
                            </div>
                            <div class="form-group">
                                <label class="form-label">E-mail</label>
                                <input type="text" class="form-control mb-1" value=<%=user.email%>>
                            </div>
                            <div class="form-group">
                                <label class="form-label"></label>
                            </div>
                        </div>
                        <div class="text-center mt-3">
                            <button type="button" class="btn" style="background-color: #014122; color: #fff;" id="save-changes">Save changes</button>&nbsp;
                        </div>
                    </div>


                    <!---------------------change password code------------------->

                    <div class="tab-pane fade" id="account-change-password">
                        <div id="alert-area" class="mt-3"></div>
                        <div class="card-body pb-2">
                            <img src="/assets/homeimg/change pass.png" class="d-block ui-w-80" alt="">
                            <div class="form-group">
                                <label class="form-label">Current password</label>
                                <div class="input-group">
                                    <input id="current-password" type="password" class="form-control">
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-outline-secondary toggle-password">
                                            <i class="fa fa-eye"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label">New password</label>
                                <div class="input-group">
                                    <input id="new-password" type="password" class="form-control">
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-outline-secondary toggle-password">
                                            <i class="fa fa-eye"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label">Repeat new password</label>
                                <div class="input-group">
                                    <input id="repeat-new-password" type="password" class="form-control">
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-outline-secondary toggle-password">
                                            <i class="fa fa-eye"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-right mt-3">
                            <button type="button" class="btn" style="background-color: #014122; color: #fff;" id="btn-save-changess">Save changes</button>&nbsp;
                            <a href="/user/profile"><button type="button" class="btn btn-danger">Cancel</button></a>
                        </div>
                        <div id="alert-area" class="mt-3"></div>
                    </div>
                    

                         <!-----------------------Address-Code------------------>

                         <div class="tab-pane fade" id="account-info">
                            <div class="card-body pb-2">
                                <form id="address-form" action="" method="post" style="display: none;">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="form-label">Mobile</label>
                                                <input type="text" class="form-control" name="mobile" placeholder="Mobile">
                                                <div class="invalid-feedback" id="mobile-error"></div>
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label">Pincode</label>
                                                <input type="text" class="form-control" name="pincode" placeholder="Pincode">
                                                <div class="invalid-feedback" id="pincode-error"></div>
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label">House Name</label>
                                                <input type="text" class="form-control" name="houseName" placeholder="House Name">
                                                <div class="invalid-feedback" id="houseName-error"></div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="form-label">Area</label>
                                                <input type="text" class="form-control" name="area" placeholder="Area">
                                                <div class="invalid-feedback" id="area-error"></div>
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label">City</label>
                                                <input type="text" class="form-control" name="city" placeholder="City">
                                                <div class="invalid-feedback" id="city-error"></div>
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label">State</label>
                                                <input type="text" class="form-control" name="state" placeholder="State">
                                                <div class="invalid-feedback" id="state-error"></div>
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label">Landmark</label>
                                                <input type="text" class="form-control" name="landmark" placeholder="Landmark">
                                                <div class="invalid-feedback" id="landmark-error"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center mt-3">
                                        <button type="submit" class="btn" style="background-color: #014122; color: #fff;">Save changes</button>
                                    </div>
                                </form>
                        
                                <div id="address-list"></div>
                            </div>
                        </div>
                         <!-- % addresses.forEach(function(address, index) { %> -->

                               

                                    <!-- <h2>User Profile</h2> -->
                                    <div class="text-center mt-3">
                                        <button id="add-address-btn" type="button" class="btn" style="background-color: #014122; color: #fff;">Add Address</button>&nbsp;
                                    </div><br>
                                  
                                    <% if (addresses.length > 0) { %>
                                      <% addresses.forEach((address,index) => { %>
                                        <div class="address-container">
                                            <div class="address-heading">Address <%= index + 1 %></div>
                                          <p><strong>Mobile:</strong> <%= address.mobile %></p>
                                          <p><strong>Pincode:</strong> <%= address.pincode %></p>
                                          <p><strong>House Name:</strong> <%= address.houseName %></p>
                                          <p><strong>Area:</strong> <%=address.area %></p>
                                          <p><strong>City:</strong> <%= address.city %></p>
                                          <p><strong>State:</strong> <%= address.state %></p>
                                          <p><strong>landmark:</strong> <%= address.landmark %></p>
                                          <div class="address-buttons">
                                            <a href="/editAddress/<%= address._id %>" class="btn btn-success btn-edit" data-id="<%= address._id %>">Edit</a>
                                            <a class="btn btn-delete btn-danger" data-id="<%= address._id %>" href="#">Delete</a>
                                        </div>
                                        </div>
                                      <% }) %>
                                    <% } else { %>
                                      <p>No addresses found.</p>
                                    <% } %>

                            </div>
                            
                        </div>
                        <div id="alert-area" class="mt-3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--Modal code -->
<div class="modal fade" id="referralModal" tabindex="-1" role="dialog" aria-labelledby="referralModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="referralModalLabel">Your Referral Code</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Your referral code is: <strong><%=user.referralCode%></strong></p>
                <p>Share this code with your friends to earn 100 rupees</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                 <button type="button" class="btn btn-primary" id="copy-referral-code">Copy Code</button>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>




<!--------------------Password change code------------------------->

<script>
    $ (document).ready(function() {
        $("#btn-save-changess").click(function (){
            var currentPassword=$("#current-password").val()
            var newPassword=$("#new-password").val()
            var repeatNewPassword=$("#repeat-new-password").val()
           
            console.log('currentPassword',currentPassword)
            console.log("newPassword",newPassword)
            console.log("repeatNewPassword",repeatNewPassword)

            if(currentPassword === '' || newPassword === '' || repeatNewPassword === '') {
                showAlert("please fill in all fields")
                return 
            }

            if(newPassword !== repeatNewPassword) {
                showAlert("Do not match password")
            }

            $.ajax({
                url:"/change-password",
                method:"post",
                data:{
                    currentPassword:currentPassword,
                    newPassword:newPassword,
                    repeatNewPassword:repeatNewPassword
                },
                success: function(response) {
                    showSuccessAlert(response.message)
                },
                error:function(xhr,status,error) {
                    showAlert(xhr.responseJSON.error)
                }
            })

        })


    // function to display success alert with ok button
    function showSuccessAlert(message) {
        $("#alert-area").html('<div class="alert alert-success" role="alert">' + message + '<button id="ok-button" class="btn btn-primary">OK</div>')

            // handle click event for ok button
            $("#ok-button").click(function(){
                window.location.href="/login" // redirect to login page 
            })
    }

// function to display alert within the webpage 

function showAlert(message) {
    $("#alert-area").html('<div class="alert alert-danger" role="alert">' + message + '</div>')
    setTimeout(function(){
        $("#alert-area").empty()
    },3000)
    }



// Password visibility

$(".toggle-password").click(function(){
    var input=$(this).closest('.input-group').find('input')
    var icon=$(this).find("i")
    if(input.attr("type") === "password") {
        input.attr("type","text")
        icon.removeClass("fa-eye").addClass("fa-eye-slash")
    } else {
        input.attr("type","password")
        icon.removeClass("fa-eye-slash").addClass("fa-eye")
        }
    })

})

// <---------------------change password code end above--------------->




//<----------------------------- Address validation----------------------------->


$(document).ready(function() {
    // Show the address form when the add address button is clicked
    $('#add-address-btn').click(function() {
        $('#address-form').show();
    });

    // handle form submission
    $('#address-form').submit(function(event) {
        event.preventDefault();

        // Clear previous errors
        $('input').removeClass('is-invalid');
        $('.invalid-feedback').text('');

        // Fetch form data
        var mobile = $('input[name="mobile"]').val().trim();
        var pincode = $('input[name="pincode"]').val().trim();
        var houseName = $('input[name="houseName"]').val().trim();
        var area = $('input[name="area"]').val().trim();
        var city = $('input[name="city"]').val().trim();
        var state = $('input[name="state"]').val().trim();
        var landmark = $('input[name="landmark"]').val().trim();

        // validate mobile number
        if (mobile.length !== 10 || !/^\d+$/.test(mobile)) {
            showInlineError('mobile', 'Mobile number must be exactly 10 digits');
            return;
        }

        // validate pincode
        if (pincode.length !== 6 || !/^\d+$/.test(pincode)) {
            showInlineError('pincode', 'Pincode must be exactly 6 digits');
            return;
        }

        // vheck for empty fields
        if (houseName === '') {
            showInlineError('houseName', 'House Name is required');
            return;
        }
        if (area === '') {
            showInlineError('area', 'Area is required');
            return;
        }
        if (city === '') {
            showInlineError('city', 'City is required');
            return;
        }
        if (state === '') {
            showInlineError('state', 'State is required');
            return;
        }
        if (landmark === '') {
            showInlineError('landmark', 'Landmark is required');
            return;
        }

        // if all validations pass, proceed with form submission

        var formData = $(this).serialize();
        $.post('/save-address', formData, function(response) {
            alert('Address saved successfully', 'success');
            $('#address-form')[0].reset();
            $('#address-form').hide();
            location.reload()
            loadAddressList();
        }).fail(function(xhr, status, error) {
            showAlert('Error saving address: ' + xhr.responseJSON.error);
        });
    });

    // Function to display alert message
    function showAlert(message, type = 'danger') {
        $('#alert-area').html('<div class="alert alert-' + type + '" role="alert">' + message + '</div>');
        setTimeout(function() {
            $('#alert-area').empty();
        }, 3000);
    }

    // Function to show inline error message
    function showInlineError(inputName, message) {
        $('input[name="' + inputName + '"]').addClass('is-invalid');
        $('#' + inputName + '-error').text(message);
    }

    // Function to load the address list (if necessary)
    function loadAddressList() {
        $.get('/get-addresses', function(addresses) {
            var addressListHtml = '';
            addresses.forEach(function(address, index) {
                addressListHtml += '<div class="address-container">';
                addressListHtml += '<div class="address-heading">Address ' + (index + 1) + '</div>';
                addressListHtml += '<p><strong>Mobile:</strong> ' + address.mobile + '</p>';
                addressListHtml += '<p><strong>Pincode:</strong> ' + address.pincode + '</p>';
                addressListHtml += '<p><strong>House Name:</strong> ' + address.houseName + '</p>';
                addressListHtml += '<p><strong>Area:</strong> ' + address.area + '</p>';
                addressListHtml += '<p><strong>City:</strong> ' + address.city + '</p>';
                addressListHtml += '<p><strong>State:</strong> ' + address.state + '</p>';
                addressListHtml += '<p><strong>Landmark:</strong> ' + address.landmark + '</p>';
                addressListHtml += '<div class="address-buttons">';
                addressListHtml += '<a href="/editAddress/' + address._id + '" class="btn btn-success btn-edit" data-id="' + address._id + '">Edit</a>';
                addressListHtml += '<a class="btn btn-delete btn-danger" data-id="' + address._id + '" href="#">Delete</a>';
                addressListHtml += '</div>';
                addressListHtml += '</div>';
            });
            $('#address-list').html(addressListHtml);
        });
    }

    // Load the address list on page load
});

$(document).ready(function() {
    // Handle click event for delete button
    $('.btn-delete').on('click', function(event) {
        event.preventDefault(); 

        var addressId = $(this).data('id');
        console.log('Deleting address with ID:', addressId); 

        var confirmation = confirm('Are you sure you want to delete this address?');

        if (confirmation) {
            $.ajax({
                type: 'DELETE',
                url: '/delete-address/' + addressId,
                success: function(response) {
                    console.log('Address deleted successfully:', response); 
                    window.location.reload(); 
                },
                error: function(xhr, status, error) {
                    console.error('Error deleting address:', error);
                    alert('Error deleting address. Please try again later.'); 
                }
            });
        }
    });
});
loadAddressList();



    // Initially load the address list

// handle edit button

// $('#address-form').on('click','#btn-update-address',function(){
// var addressId=$(this).data('id')
// alert(addressId)
// var formData=$('#address-form').serialize()
// alert(formData)
// $.ajax({
//     url:'/update-address/'+addressId,
//     type:'PUT',
//     data:formData,
//     success:function(response) {
//         alert:(response.message)
//         loadAddressList()
//         $('#address-form')[0].reset()
//         $('#btn-update-address').text('Add Address').attr('id','btn-save-address')
//     },
//     error:function(xhr,status,error){

//         alert(xhr,responseJSON.error)
//     }
// })


// })






</script>

 <!-- Referral Modal Script -->
 <script>
    document.getElementById('referral-link').addEventListener('click', function (event) {
        event.preventDefault(); // Prevent the default anchor click behavior
        $('#referralModal').modal('show'); // Show the modal
    });

    // Optional: Copy referral code to clipboard
    document.getElementById('copy-referral-code').addEventListener('click', function () {
        const code = 'REF12345'; // Change this to your actual referral code
        navigator.clipboard.writeText(code).then(() => {
            alert('Referral code copied to clipboard!');
        }).catch(err => {
            console.error('Could not copy text: ', err);
        });
    });
</script>

<script>

</script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<%-include('../layouts/user/footer')%>

